.jumbotron{
   text-align: center;
   display:block;
   flex-direction: row;
   padding-bottom: 5%;
   font-family: 'Courgette', cursive;
   text-decoration-line: underline;
}
/* floating the second icon to row */
.float-right{
   float:fright;
}
#rowing{
   display:block;
   flex-direction:row;
}
#floatleft{
   float: left;
}

#card{
   padding-top: 8%;
   padding-left: 4%;
}

.container{
   background-color: lightblue;
}
.card-footer{
   font-family: 'Gloria Hallelujah', cursive;
}
