.jumbotron{
   text-align: center;
   display:block;
   flex-direction: row;
}
/* floating the second icon to row */
.float-right{
   float:fright;
}
#rowing{
   display:block;
   flex-direction:row;
}
#floatleft{
   float: left;
}
